.app {
  --c-primary: #5ece7b;
  --c-txt: #1d1f22;
  --c-light-border: #eee;

  --currency-symbol-size: 2rem;
  --currency-dropdown-item-hover-clr: #eeeeee;
  --navbar-height: 80px;
  --page-side-padding: 9rem;

  padding-top: calc(var(--navbar-height, 80px) * 2);
}
/* NavBar start */
.navbar {
  --gutter: 3rem;

  padding: 2rem var(--page-side-padding, 9rem) 0;
  max-width: 100%;
  height: var(--navbar-height);
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  box-shadow: 0 0 10px #51515169;
  backdrop-filter: blur(3px);
  background: #f1f1f136;
  z-index: calc(var(--modal-z-index, 1) + 1);
}
.navbar.navbar--solid-white {
  background-color: #fff;
}

.navbar .navbar__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: max-content;
}

.navbar .nav__links {
  display: flex;
  text-align: center;
}

.nav__links .nav-links__item {
  padding: 0 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__links .nav-links__item.active {
  color: var(--c-primary, #5ece7b);
  border-bottom: 2px solid var(--c-primary, #5ece7b);
  font-weight: 600;
}

.navbar .logo {
  width: 41px;
  height: 41px;
  /* To be totally centered visually */
  /* transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%); */
}

.navbar__nav .nav-item + .nav-item {
  margin-left: var(--gutter, 3rem);
}

.navbar__nav .nav-item.logo-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 0;
}
/* NavBar end */

/* Dropdowns start */
.dropdown {
  --right-space: 7rem;

  position: absolute;
}
/* Currency Start */
.btn--dropdown {
  --badge-width: 20px;
  --badge-height: 20px;

  font-size: var(--currency-symbol-size, 18px);
  color: var(--c-txt, #222);
  font-weight: 300;
  border: none;
  background-color: transparent;

  display: flex;
  gap: 9px;

  position: relative;
}

.items-count-badge {
  position: absolute;
  color: #fff;
  background-color: #000;
  width: var(--badge-width);
  height: var(--badge-height);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.4rem;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  transform: translate(65%, -44%);
  -webkit-transform: translate(65%, -44%);
  -moz-transform: translate(65%, -44%);
  -ms-transform: translate(65%, -44%);
  -o-transform: translate(65%, -44%);
}

.currencies-list {
  top: calc(var(--navbar-height) * 0.85);
  right: var(--right-space, 7rem);
  width: 100%;
  max-width: max-content;
  box-shadow: 0px 4px 35px rgba(92, 99, 106, 0.19);
  overflow: hidden;
  /* position children */
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  transition-duration: 0;
  /*Tobeabovemodel*/
  z-index: 2;
  background-color: #fff;
}

.currencies-list__item:hover,
.currencies-list__item:focus,
.currencies-list__item:focus-visible {
  background-color: var(--currency-dropdown-item-hover-clr, #eee);
}

.currency-btn {
  padding: 1rem 3.5rem 1rem 2.5rem;

  font-size: 18px;
  font-weight: 300;

  border: none;
  background-color: transparent;
  width: 100%;
}
/* Currency End */

/* Cart dropdown Start */
.cart-list {
  --gutter: 4rem;
  /* Position */
  position: absolute;
  right: -33px;
  top: var(--navbar-height);
  right: var(--right-space, 7rem);

  background-color: #fff;
  padding: 4rem 2.3rem;
  font-size: 2rem;
  border-top: 0.2px solid #d3d3d34a;
  width: max-content;
  max-height: 85vh;
  overflow: auto;
  z-index: calc(var(--modal-z-index, 1) + 1); /* To be top */
}

.cart-list .cart__dropdown-items {
  overflow: auto;
  max-height: 400px;
  max-width: 500px;
  margin-top: var(--gutter, 4rem);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  /* box-shadow: inset 0px 11px 8px -10px rgba(204, 204, 204, 0.52),
    inset 0px -11px 8px -10px rgba(204, 204, 204, 0.52); */
}

.cart__dropdown-items .cart__item {
  --box-width: 40px;
  --box-height: 40px;
  display: flex;
  gap: 1rem;
  max-height: 450px;

  border-bottom: 1px solid rgba(163, 163, 163, 0.773);
  padding-bottom: 2rem;
}
.cart__dropdown-items .cart__item figure {
  overflow: hidden;
}
.cart__dropdown-items .cart__item figure img {
  object-fit: contain;
}

.cart__dropdown-items .cart__item .box,
.pdb .product .box {
  width: var(--box-width, 40px);
  height: var(--box-height, 40px);

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid #111;
  font-size: 2rem;
  font-weight: 300;
  user-select: none;
}

.cart__dropdown-items .cart__item .box.attribute,
.pdb .product .box.attribute {
  width: max-content;
  height: max-content;
  padding: 7px;
}

.cart__dropdown-items
  .cart__item:not([class*='disable-selection'])
  button.box:hover,
.pdb .product:not([class*='disable-selection']) button.box:hover {
  background-color: #111;
  color: #fff;
}

.cart__dropdown-items
  .cart__item.disable-selection
  button.box:not([class*='qty-controller']):hover,
.pdb
  .product.disable-selection
  button.box:not([class*='qty-controller']):hover {
  cursor: default;
}

.cart__dropdown-items
  .cart__item.disable-selection
  button.box.qty-controller:hover {
  background-color: #111;
  color: #fff;
}

.cart__dropdown-items .cart__item .box.active,
.pdb .product .box.active {
  background-color: #111;
  color: #fff;
}

.cart__dropdown-items .cart__item .box.swatch.active,
.pdb .product .box.swatch.active {
  box-shadow: 0px 0px 0px 2px var(--c-primary);
  border: 3px solid #fff;
  box-sizing: border-box;
}

.cart__item .image {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.cart__item .image img {
  width: 100%;
  height: 100%;
}

.cart__item .image .controllers {
  display: flex;
  gap: 1.5rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.cart__item .image .controllers button {
  background-color: rgb(0 0 0 / 0.8);
  border: none;
  color: #fff;
  font-size: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart__item .image .controllers button:hover {
  background-color: rgb(0 0 0 / 0.6);
}

.cart__dropdown-items .cart__item .item__info,
.product__info {
  display: flex;
  justify-content: space-between;
  flex: 2;
  gap: 3.5rem;
}

.cart__item .item__details,
.product .product__details {
  display: flex;
  flex-grow: 1;
  gap: 1rem;
  flex-direction: column;
}
.product .product__details {
  flex-grow: 0;
}
.cart__item .item__details .item__price,
.product .product__details .item__price {
  font-weight: 500;
}

.item__info {
  text-decoration: none;
}

.box,
.controllers {
  z-index: 1;
}

.attribute {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.attribute .attribute__values {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  padding-left: 5px;
}

.attribute__values .attribute-item {
  width: var(--box-width, 40px);
  height: var(--box-height, 40px);
}

.item__info .item__controllers {
  display: flex;
  flex-flow: column;
}

.item__controllers .quantity {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-list .total {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.cart-list .cart__btns,
.total {
  margin-top: var(--gutter, 4rem);
}
.cart-list .cart__btns {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  font-weight: 600;
  white-space: nowrap;
}

.cart-list a {
  text-transform: uppercase;
  font-size: 2rem;
  text-decoration: none;
}

.btn--outline,
.btn--filled {
  padding: 1.7rem 5rem;
  border: none;
}
.btn--outline:active,
.btn--filled:active {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}

.btn--outline {
  border: 2px solid #222;
  background-color: transparent;
}

.btn--filled {
  background-color: var(--c-primary);
  color: #fff;
}

/* Cart dropdown End */

/* Dropdowns end */

/* PLP Start */
.plp-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 9rem;
}
.plp__heading {
  font-weight: 400;
  font-size: 5rem;
  text-transform: uppercase;
}

.products-list {
  --gutter-y: 8rem;
  --gutter-x: 4rem;
  --product-card-width: 386px;
  --product-card-height: 444px;

  margin-top: var(--navbar-height);
  display: flex;
  flex-flow: row wrap;
  gap: var(--gutter-y, 8rem) var(--gutter-x, 3rem);
  justify-content: center;
  align-items: center;
}

.product-card {
  --cart-btn-width: 50px;
  --cart-btn-height: 50px;

  position: relative;
  max-width: var(--product-card-width, 386px);
  max-height: var(--product-card-height, 444px);
  padding: 1.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.cart-btn svg path {
  fill: #fff;
}

.product-card:hover,
.product-card:focus,
.product-card:focus-visible {
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.2),
    0 15px 40px rgba(154, 160, 185, 0.2);
}

.product-card .product__img {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  max-height: 60%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.out-of-stock-label {
  display: none;
}
.out-of-stock .out-of-stock-label {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: #8d8f9a;
  font-size: 2.5rem;
  white-space: nowrap;
  font-weight: 400;
}

.product-card .product__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  position: relative;
}

.cart-btn {
  position: absolute;
  top: 0;
  right: 3rem;
  width: var(--cart-btn-width, 50px);
  height: var(--cart-btn-height, 50px);
  overflow: hidden;
  background-color: var(--c-primary);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border: none;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
}

.out-of-stock .cart-btn {
  display: none;
}

.product-card.out-of-stock img,
.product-card.out-of-stock .product__info {
  opacity: 0.5;
}

.product-card .product__title {
  font-weight: 300;
}
.product-card .product__price {
  font-weight: 500;
}

/* PLP end */

/* PDP start */
.pdb .product {
  --sub-img-width: 100px;
  --sub-img-height: 100px;
  --sub-img-gallery-gap: 3rem;
  --main-img-width: 1000px;
  --main-img-height: 1000px;
  display: flex;
  flex-flow: row wrap;
  gap: 5rem;
  padding: 2rem var(--page-side-padding, 9rem) 0;
}

.pdb .product .product__gallery {
  display: flex;
  flex-flow: row nowrap;
  gap: 5rem;
}

.pdb .product .product__gallery .gallery__main-image {
  max-width: var(--main-img-width, 600px);
  max-height: var(--main-img-height, 600px);
  border-left: 2px solid #eee;
}

.product__gallery .gallery__images {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: var(--sub-img-gallery-gap, 3rem);
}
.product__gallery .gallery__images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product__gallery .gallery__images .gallery__sub-image-contaienr {
  width: var(--sub-img-width, 200px);
  height: var(--sub-img-height, 200px);
  overflow: hidden;
  border: none;
}

.product__gallery .gallery__images .gallery__sub-image-contaienr:hover {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  filter: drop-shadow(0 0 3px rgb(0 0 0 / 0.2));
  -webkit-filter: drop-shadow(0 0 3px rgb(0 0 0 / 0.2));
}

.product .product__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.product .product__info .product__details .item__brand {
  font-weight: 500;
  font-size: 4rem;
}
.product .product__info .product__details .item__name {
  font-size: 3rem;
}
.product .product__info .product__details .item__price {
  text-transform: uppercase;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}
.product .product__info .product__details .item__price .price-title {
  font-size: 1.7rem;
}

.pdb .product .product__info .order-btn {
  z-index: initial !important; /** To override inline style */
}

.pdb .product .order-btn {
  width: 100%;
}

.pdb .product .product__info {
  max-width: 500px;
}

/* PDP end */

/* Cart start */
.cart-page {
  padding: 0 var(--page-side-padding, 9rem);
}
.cart-page .cart--empty {
  font-weight: 200;
  text-align: center;
  padding-top: 3rem;
}
.cart-page .cart__heading {
  border-bottom: 2px solid var(--c-light-border, #eee);
  padding-bottom: 3rem;
}
.cart__dropdown-items .cart__item {
  margin-bottom: 2rem;
}
/* cart footer */
.cart-footer .footer__item .item__title {
  font-weight: 200;
}
.cart-footer .order-btn {
  max-width: 200px;
  margin-top: 2rem;
  text-decoration: none;
}

.cart-page .image {
  max-height: 350px;
  max-width: 352px;
}
.cart-page .image img {
  object-fit: cover;
}
/* Cart end */

/* Page Not Found Start */

.not-found__btn {
  display: inline-block;
  max-width: max-content;
  margin: auto;
  border: 1px solid var(--c-primary);
  padding: 15px 30px;
  background-color: var(--c-primary);
  color: #fff;
  font-weight: 300;
  font-size: 2rem;
  text-decoration: none;
}
.not-found__btn:hover {
  background-color: transparent;
  color: var(--c-primary);
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
/* Page Not Found End */

/* Loading Start */
.loading-wrapper {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
/* Loading End */

/* Responsiveness */
/* Nav */
@media (max-width: 1000px) {
  .pdb .product .product__gallery {
    flex-direction: column;
  }

  .pdb .product .product__gallery .gallery__images {
    order: 2;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  .pdb .product {
    --sub-img-width: 50px;
    --sub-img-height: 50px;
    --sub-img-gallery-gap: 3rem;
    --main-img-width: 1000px;
    --main-img-height: 1000px;
  }
  .pdb .product {
    justify-content: center;
  }
}
@media (max-width: 998px) {
  .pdb .product .product__gallery .gallery__main-image {
    border: none;
    border-bottom: 2px solid #eee;
  }
}
@media (max-width: 900px) {
  .pdb .product {
    padding: 1rem;
  }
}
@media (max-width: 760px) {
  .navbar .logo {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

@media (max-width: 642px) {
  .navbar {
    padding: 2rem 2.5rem;
  }
}

@media (max-width: 610px) {
  .navbar__nav {
    gap: 4rem;
    justify-content: center;
    align-items: center;
  }
  .navbar__nav .nav-item:last-child {
    margin-left: 0rem;
  }
}

@media (max-width: 578px) {
  .cart-list {
    top: var(--navbar-height);
    left: 0;
    right: 0;
    width: 100%;
    min-height: max-content;
    z-index: -1;
    padding-top: 8rem;
  }

  .cart-list .cart__btns {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .cart-list .cart__btns a {
    width: 100%;
  }
}

@media (max-width: 525px) {
  .cart__dropdown-items .cart__item,
  .cart__dropdown-items .cart__item .item__info,
  .product__info {
    flex-direction: column;
  }
  .cart__dropdown-items .cart__item .item__controllers {
    flex-direction: row;
  }

  .plp-wrapper {
    padding-left: 0.5rem;
  }
  .navbar__nav {
    --position-gutter: 20px;

    flex-direction: column;
  }
  .nav-item.logo-wrapper,
  .nav-item.currency-wrapper,
  .nav-item.cart-wrapper {
    position: absolute;
    top: calc(var(--navbar-height, 80px) + 10px);
    background: rgb(225 225 225 / 0.5);
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
  }
  .nav-item.logo-wrapper {
    left: var(--position-gutter, 20px);
  }
  .nav-item.currency-wrapper {
    right: calc(var(--position-gutter, 20px) * 5);
  }
  .nav-item.cart-wrapper {
    right: var(--position-gutter, 20px);
  }
  .currencies-list {
    top: 155px;
  }
}
@media (max-width: 350px) {
  .cart__dropdown-items .cart__item .attribute__values {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 266px) {
  .nav-item.logo-wrapper {
    /* display: none; */
    visibility: hidden;
  }
}

